test-data\kiggs.csv
ReadmeRaff.txt
ZfKD Beispieldatensatz.ipynb
ZfKD.class
test.ahs
KiGGSAnonymize.java
IssuesWithExamples.txt
GUI-products
examples
test-package
test-data
deprecated
data
zfkd\test-data
zfkd\risk-analysis
kiggs\test-data
kiggs\risk-analysis